<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Кабинет владельца автопарка</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

	<!-- Loading Bootstrap -->
    <link href="flat_ui/bootstrap/css/bootstrap.css" rel="stylesheet">

    <!-- Loading Flat UI -->
    <link href="flat_ui/css/flat-ui.css" rel="stylesheet">
    <link href="flat_ui/css/demo.css" rel="stylesheet">

    <link rel="shortcut icon" href="flat_ui/dist/img/favicon.ico">  
	  
    <style>
		.content{
			padding:20px;
		}
		.my-hint {
            display: inline-block;
            padding: 20px;
            height: auto;
            position: relative;
            left: -10px;
            width: 300px;
            font-size: 16px;
            line-height: 25px;
            color: #333333;
            text-align: center;
            vertical-align: middle;
            background-color: #fff;
            border-radius: 15px;
            font-family: Arial;
        }
	</style>
	<script src="https://api-maps.yandex.ru/2.1/?lang=ru_RU&amp;apikey=32850974-44c1-4f89-9d7a-f6a9ad82d03f" type="text/javascript"></script>
    <script>
		//var myMap;
		ymaps.ready(['AnimatedLine']).then(function () {
			myMap = new ymaps.Map('map', {
					center: [55.762, 37.57835813659775],
        			zoom: 16
				}, {
					searchControlProvider: 'yandex#search'
				}),

				// Создаём макет содержимого.
				MyIconContentLayout = ymaps.templateLayoutFactory.createClass(
					'<div style="color: #FFFFFF; font-weight: bold;">$[properties.iconContent]</div>'
				),

				myPlacemark = new ymaps.Placemark(myMap.getCenter(), {
					hintContent: 'Собственный значок метки',
					balloonContent: 'Это красивая метка'
				}, {
					// Опции.
					// Необходимо указать данный тип макета.
					iconLayout: 'default#image',
					// Своё изображение иконки метки.
					iconImageHref: 'images/myIcon.gif',
					// Размеры метки.
					iconImageSize: [30, 42],
					// Смещение левого верхнего угла иконки относительно
					// её "ножки" (точки привязки).
					iconImageOffset: [-5, -38]
				}),

				myPlacemarkWithContent = new ymaps.Placemark([55.661574, 37.573856], {
					hintContent: 'Собственный значок метки с контентом',
					balloonContent: 'А эта — новогодняя',
					iconContent: '12'
				}, {
					// Опции.
					// Необходимо указать данный тип макета.
					iconLayout: 'default#imageWithContent',
					// Своё изображение иконки метки.
					iconImageHref: 'images/ball.png',
					// Размеры метки.
					iconImageSize: [48, 48],
					// Смещение левого верхнего угла иконки относительно
					// её "ножки" (точки привязки).
					iconImageOffset: [-24, -24],
					// Смещение слоя с содержимым относительно слоя с картинкой.
					iconContentOffset: [15, 15],
					// Макет содержимого.
					iconContentLayout: MyIconContentLayout
				});

			myMap.geoObjects
				.add(myPlacemark)
				.add(myPlacemarkWithContent);
			var drawCounter = 0;
			var previous_coords;
			
			
			// Создаём макет содержимого.
			MyIconContentLayout = ymaps.templateLayoutFactory.createClass(
				'<div style="color: #FFFFFF; font-weight: bold;">$[properties.iconContent]</div>'
			);
			
			HintLayout = ymaps.templateLayoutFactory.createClass( "<div class='my-hint'>" +
				"<b>{{ properties.object }}</b><br />" +
				"{{ properties.address }}" +
				"</div>", {
					// Определяем метод getShape, который
					// будет возвращать размеры макета хинта.
					// Это необходимо для того, чтобы хинт автоматически
					// сдвигал позицию при выходе за пределы карты.
					getShape: function () {
						var el = this.getElement(),
							result = null;
						if (el) {
							var firstChild = el.firstChild;
							result = new ymaps.shape.Rectangle(
								new ymaps.geometry.pixel.Rectangle([
									[0, 0],
									[firstChild.offsetWidth, firstChild.offsetHeight]
								])
							);
						}
						return result;
					}
				}
			);
				

			driver = new ymaps.Placemark(myMap.getCenter(), {
							address: "Василий",
        					object: "Петров"
						}, {
				// Опции.
				hintLayout: HintLayout,
				// Необходимо указать данный тип макета.
				iconLayout: 'default#image',
				// Своё изображение иконки метки.
				iconImageHref: 'common/point.png',
				// Размеры метки.
				iconImageSize: [50, 50],
				// Смещение левого верхнего угла иконки относительно
				// её "ножки" (точки привязки).
				iconImageOffset: [-25, -25]
			});

			myMap.geoObjects.add(driver);
			
			//Update geoposition
			setInterval(function(){
				$.ajax({
					type: 'GET',
					dataType:"json",
					url: 'http://localhost:3000/getCarData?vin=X9600000000000430',						
					success: function(data) {
						if(drawCounter > 0){
							addLine([previous_coords, [data.lat, data.lng]]);
						}
						previous_coords = [data.lat, data.lng];
						drawCounter++;
					},
					error: function(e){
						alert(JSON.stringify(e));
					}
				});
			},8000);
			
			
			//getPlaces
			$.ajax({
				type: 'GET',
				dataType:"json",
				url: 'http://localhost:3000/getPlacesInRadius?lat=55.7716&lng=37.4954&radius=5',						
				success: function(data) {
					for(var i = 0; i < data.places.length; i++){
						var img = ""
						switch(data.places[i].type){
							case "azs": 
								img = 'common/gas_color.png';
								break;
							case "cafe": 
								img = 'common/eat_color.png';
								break;
						}
						var place = new ymaps.Placemark([data.places[i].lat, data.places[i].lng], {
							address: data.places[i].address,
        					object: data.places[i].title
						}, {
							// Опции.
							hintLayout: HintLayout,
							// Необходимо указать данный тип макета.
							iconLayout: 'default#image',
							// Своё изображение иконки метки.
							iconImageHref: img,
							// Размеры метки.
							iconImageSize: [70, 70],
							// Смещение левого верхнего угла иконки относительно
							// её "ножки" (точки привязки).
							iconImageOffset: [-35, -35]
						});

						myMap.geoObjects.add(place);
					}
				},
				error: function(e){
					alert(JSON.stringify(e));
				}
			});
			
        
		});
		function Notification(){
			$("body").append('<iframe src="https://tts.voicetech.yandex.net/generate?text=%D0%9E%D0%B3%D0%BE%2C%20%D0%B4%D0%B0%20%D0%B2%D1%8B%20%D0%B1%D0%BE%D0%BB%D0%B5%D0%B5%20%D1%87%D0%B5%D1%82%D1%8B%D1%80%D1%91%D1%85%20%D1%87%D0%B0%D1%81%D0%BE%D0%B2%20%D0%B2%20%D0%BF%D1%83%D1%82%D0%B8!%20%D0%9F%D0%BE%D1%80%D0%B0%20%D0%BF%D0%BE%D0%B4%D0%BA%D1%80%D0%B5%D0%BF%D0%B8%D1%82%D1%8C%D1%81%D1%8F!%20%D0%9F%D0%BE%20%D0%BF%D1%83%D1%82%D0%B8%20%D0%BC%D0%B0%D0%BA%D0%BA%D0%B0%D1%84%D0%B5%2C%20%D0%B2%D0%B0%D1%88%D0%B0%20%D1%81%D0%BA%D0%B8%D0%B4%D0%BA%D0%B0%20%D0%BE%D1%82%20%D0%BF%D0%B0%D1%80%D1%82%D0%BD%D1%91%D1%80%D0%B0%205%25!&format=mp3&lang=ru-RU&speaker=alyss&emotion=good&key=32850974-44c1-4f89-9d7a-f6a9ad82d03f" style="display: none"></</iframe>');
		}
		//draw line on the map
		function addLine(line, callback){
			var firstAnimatedLine = new ymaps.AnimatedLine(line, {}, {
				// Задаем цвет.
				strokeColor: "#3A88FF",
				// Задаем ширину линии.
				strokeWidth: 10,
				// Задаем длительность анимации.
				animationTime: 8000,
				visible: true
			});
			myMap.geoObjects.add(firstAnimatedLine);
			firstAnimatedLine.animate().then(function(){
				//myMap.setCenter(line[0], 16);
				callback();
			});
			//firstAnimatedLine.visible = true;
		}
		
		function switchEatStatus(){
			$("#eat").attr("src", "common/eat_good.png");
			setTimeout(function(){
				$("#eat").animate({"opacity":0}, "0.5s");
			}, 1500);
		}
		function showCarInfo(){
			location.href = "carInfo.html";
		}
		NavigatorStatus = false;
		function switchNavigatorStatus(){
			NavigatorStatus = !NavigatorStatus;
			if(NavigatorStatus){
				$("#navigator").attr("src", "common/target_active.png");
			} else {
				$("#navigator").attr("src", "common/target.png");
			}
		}
	</script>
	<script src="animated_line.js" type="text/javascript"></script>
	<style>
        html, body, #map, .content {
            width: 100%; height: 100%; padding: 0; margin: 0;
        }
		.buttons {
			box-shadow: 0 1px 2px 1px rgba(0,0,0,.15), 0 2px 5px -3px rgba(0,0,0,.15);
			border-radius: 3px;
			border-top-left-radius: 3px;
			border-top-right-radius: 3px;
			border-bottom-right-radius: 3px;
			border-bottom-left-radius: 3px;
			width: 200px;
			height: 50px;
			position: absolute;
			left: 10px;
			bottom: 10px;
			z-index: 1;
			background: #fff;
			padding: 10px 15px;
		}
		.floating_title {
			font-size: 18px;
		}
		.indicators {
			position: absolute;
			left: 10px;
			bottom: 70px;
			z-index: 1;
			padding: 10px 15px;
		}
		.indicators > img {
			width: 30px;
			margin-right: 15px
		}
		#navigator {
			position: absolute;
			right: 50px;
			bottom: 50px;
			z-index: 1;
			width: 50px;
		}
    </style>
  </head>
  <body style="overflow: hidden">
  		<nav class="navbar navbar-inverse navbar-embossed navbar-lg" role="navigation" style="border-radius: 0px; margin-bottom: 0px">
					  <div class="navbar-header" >
					    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse-02">
					      <span class="sr-only">Toggle navigation</span>
					    </button>
					    <a class="navbar-brand" id="toolbar">Кабинет владельца автопарка</a>
					  </div>
					
					  <div class="collapse navbar-collapse" id="#navbar-collapse-02">	      
					    <ul class="nav navbar-nav navbar-right">
					    	<li class="dropdown">
					        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Выбрать кабинет <b class="caret"></b></a>
					        <span class="dropdown-arrow"></span>
					        <ul class="dropdown-menu">
					          <li><a href="driver_app.html">Приложение водителя</a></li>
					          <li><a href="park_cabinet.html">Кабинет владельца автопарка</a></li>
					          <li><a href="partner_cabinet.html">Кабинет партнёра</a></li>
					          <li><a href="cashier_app.html">Приложение кассира партнёра</a></li>
					          <li><a href="gaz_cabinet.html">Кабинет ГАЗ</a></li>
					          <li><a href="login.html">Страница авторизации</a></li>
					        </ul>
					      </li>
					      <li><a href="#"><span class="visible-sm visible-xs"><span class="fui-gear"></span></span><span class="visible-md visible-lg"><span class="fui-gear"></span></span></a></li>
					    </ul>
					  </div><!-- /.navbar-collapse -->
					</nav>
   
	<div class="content" style="">
		<div id="map"></div>
		<img id="navigator" src="common/target.png" onClick="switchNavigatorStatus()"></img>
 	</div>
                    <!-- Load JS here for greater good =============================-->
    <script src="flat_ui/js/jquery-1.8.3.min.js"></script>
    <script src="flat_ui/js/jquery-ui-1.10.3.custom.min.js"></script>
    <script src="flat_ui/js/jquery.ui.touch-punch.min.js"></script>
    <script src="flat_ui/js/bootstrap.min.js"></script>
    <script src="flat_ui/js/bootstrap-select.js"></script>
    <script src="flat_ui/js/bootstrap-switch.js"></script>
    <script src="flat_ui/js/flatui-checkbox.js"></script>
    <script src="flat_ui/js/flatui-radio.js"></script>
    <script src="flat_ui/js/holder.js"></script>
    <script src="flat_ui/js/flatui-fileinput.js"></script>
    <script src="flat_ui/js/jquery.tagsinput.js"></script>
    <script src="flat_ui/js/jquery.placeholder.js"></script>
    <script src="flat_ui/js/typeahead.js"></script>
    <script src="flat_ui/js/application.js"></script>
    
  </body>
</html>